@page "/"
@using ScottPlot
@using ScottPlot.Blazor

<h1>ScottPlot 5 in Blazor</h1>

<BlazorPlot @ref=BlazorPlot Style="width: 400px; height: 300px;" />

@code {

    BlazorPlot BlazorPlot { get; set; } = new();
    Market m {get;set;} = new Market();
    


    protected override void OnAfterRender(bool firstRender)
    {
	List<double> listX = new();
	List<double> listY = new();
	market_engine engine = new market_engine(50,20,100,100,100,m);


	int max_iterations = 10;
	for(int iteration = 0; iteration < max_iterations; iteration++)
	{
		engine.execute_one_cycle();
		Orderbook b = m.complete_one_cycle();
		listX.Add((double)iteration);
		listY.Add((double)b.get_average_price());
	}
	listX.ToArray();
	listY.ToArray();
	BlazorPlot.Plot.Add.Signal(listY);
    }
}
